$preto:#232429;
$alturaMinima: 100vh;
.fundo {
    background-color: $preto;
    min-height: $alturaMinima;
    display: flex;    
    justify-content: center;

    .container {
        max-width: 1200px;
        width: 100%;
        //A SER ALTERADO
        margin-top: 3rem;
        background-color: #ccc;
        display: flex;
        justify-content: space-between;

        .icones {
            width: 50%;
            padding: 1rem;
            display: flex;
            background-color: red;
            
            a {
                margin-top: 10vh;
                display: flex;
                color: white;
                padding: 0 1rem;
            }
            
        }
        .icones_foto-minha {
            display: flex;
            width: 50%;
            background-color: #7b29e6;
            height: 80vh;
            // border-radius: 50%;
        }
    }
}


.tamanho-dos-icones {
    font-size: 2rem;
    // animation: float 3s ease-in-out infinite;
}
// .tecnologias {
//     height: 100vh;
//     background-color: $preto;
// }
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-35px);
    }
    100% {
        transform: translateY(0);
    }
}