* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
$roxo: #7b29e6;
$preto: #232429;
.abrir {
  display: block !important;
  width: 100%;
  text-align: center;
}
header {
  background-color: $roxo;
  width: 100%;
  position: fixed;
  z-index: 3;
  button {
    display: none;
  }
  ul {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    li {
      padding: 1rem;
      transition: 0.2s;

      a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 1rem;
      }
    }
  }
}

header ul li:hover {
  background-color: #9961e2;
  transition: 0.2s;
}
@media screen and (max-width: 800px) {
  header {
    text-align: right;

    li {
      padding: 0 !important;

      a {
        width: 100%;
        background-color: aqua;
        display: inline-block;
      }
    }
  }
  header button {
    cursor: pointer;
    border: 0;
    display: inline-block;
    text-align: left;
    padding: 10px;
    .menu {
      width: 30px;
      height: 30px;
    }
  }
  header ul {
    display: none;
  }
}
