$preto:#232429;
$alturaMinima: 100vh;
$branco: #fff;
$tamanho1: 1.5rem;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tecnologias {
    min-height: 100vh;
    background-color: $preto;
    display: flex;
    width: 100%;
    padding: 0 1rem;
    
    h2 {
        color: #fff;
        font-size: 1.5rem;
        margin: 30px 0;
        width: 100%;
        justify-content: center;
        display: flex;
    }


    .tecnologia_wraper {
        display: flex;
        margin-top: 6rem;
        width: 100%;
    }
}
@media screen and (max-width: 1277px)  {
    .tecnologias {
        flex-direction: column;
        
        .tecnologias_javascript {
            max-height: 500px;
            max-width: 400px;
            margin-bottom: 3rem;
        }
    }
}
// @keyframes float {
//     0% {
//         transform: translateY(0);
//     }
//     50% {
//         transform: translateY(-25px);
//     }
//     100% {
//         transform: translateY(0);
//     }
// }